.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.container {
  background-color: #fff;
  padding: 20px 15px;
  border-radius: 10px;
}
.title {
  font-size: 30px;
  font-weight: 500;
  margin: 10px 0 5px;
}
.info {
  font-size: 14px;
  margin-bottom: 20px;
}
.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.input {
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
  margin-top: 5px;
  height: 20px;
  font-size: 18px;
}

.item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item h2 {
  margin-bottom: 8px;
}

.button {
  background-color: hsl(21, 80%, 71%);
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  margin: 20px 0;
  cursor: pointer;
}
.validate {
  position: relative;
}

.msg {
  position: absolute;
  top: 40%;
  left: 30%;
  font-size: 12px;
}

.totaux h2 {
  margin-bottom: 10px;
}

.total {
  font-weight: 600;
  margin-top: 5px;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .main {
    width: 100%;
    display: inline-block;
    padding: 2rem;
  }
  }


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .main {
    width: 100%;
    display: inline-block;
    padding: 2rem;

  }
  .container {
    width: 100%;
  }
  .content {
    flex-direction: column;
  }
  .msg{
    height: 20px;
   position: static;
   margin-bottom: 5px;

  }
}
